
/* colores */
:root {
  --apricot: #e69477;
  --ebony-clay: #27293b;
  --ferra: #76525c;
  --matrix: #ac5d56;
  --fuzzy-wuzzy-brown: #c36656;
  --apple-blossom: #a24b46;
  --mulled-wine: #4b4b6c;
  --brown-rust: #af543c;
  --fiord: #4c546b;
}



/* toda la página */
* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}


/* navegación */
.header {
  padding: 2vw 0 10vw 0;
  background-image: url(./sources/pexels-fabian-wiktor-3470481.jpg);
  background-size: cover;
  background-position: center; 
}

.header nav {
  padding: 2vh;
}

.header nav ul {
  display: flex;
  justify-content: left;
  align-items: center;
}

.header nav ul img {
  width: 3vw;
  border-radius: 50px;
  margin: 0 0.5vw 0 1vw;
}

.header nav ul span {
  font-size: 2vw;
  font-weight: 700;
  margin: 0 1vw 0 0;
  color: #fff;
}

.header nav ul li {
  font-size: 1vw;
  margin: 1vw;
  text-decoration: none;
  list-style: none;
}

.header nav ul li a {
  text-decoration: none;
  color: #fff
}

.header h1 {
  font-size: 7vw;
  text-align: center;
  margin: 10vw 1vw 1vw 1vw;
  color: #fff;
}

.header p {
  font-size: 1.5vw;
  text-align: center;
  margin:  0 1vw 10vw 1vw;
  color: #fff;
}

.bodys {
  background-color: var(--ebony-clay);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.bodys h2 {
  font-size: 5vw;
  font-weight: 500;
  text-align: left;
  color: var(--apricot);
  margin: 3vw 5vw;
  width: 100%;
}

.bodys h3{
  font-size: 3vw;
  font-weight: 500;
  text-align: left;
  color: #fff;
  margin: 3vw 5vw;
  width: 100%;
}

.bodys-item {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 2vw;
  border-radius: 20px;
  width: 70%;
}

.bodys-item h4 {
  font-size: 2vw;
  font-weight: 500;
  text-align: left;
  color: var(--ebony-clay);
  margin: 1vw 0;
}

.bodys-item {
  font-size: 1vw;
  font-weight: 300;
  text-align: left;
  margin: 1vw 0;
}


